<!DOCTYPE html>

<html>
<head>
	<link rel="stylesheet" type="text/css" href="helper1.css" />
	<title>Homepage</title>
</head>

<body>
<br>
<br>


<a name="top">
<div id="header">
<br>
<br>
<br><br>

	<h1>Touchdown</h1>
</div>
</a>

<div id="Body1">
	<a href="#roster">
		<img src="http://i.imgur.com/Hmk2SWV.png" /><br></a>
	<h3>Our vision</h3>
	<p>....</p>	
	<br>
	<h3>Our mission</h3>
	<p>...</p>
	<br>
</div>

<a name="roster">
<div id="Body2">
	<h1>Team roster</h1>
	<table>
		<tr>
			<td><a href="/Profiles/NadineProfile.html"><img src="http://i.imgur.com/4NXgu6e.png"></a></td> 
			<td><a href="/Profiles/MeloukProfile.html"><img src="http://i.imgur.com/6NiVwMG.png"></a></td>
			<td><a href="/Profiles/OufaProfile.html"><img src="http://i.imgur.com/3FlWLMp.png"></a></td>			
		</tr>
		
		<tr>
			<td><a href="/Profiles/BadrProfile.html"><img src="http://i.imgur.com/BSQH0XR.png"></a></td>
			<td><a href=""><img src="http://i.imgur.com/vlfcTVX.png"></a></td>
			<td><a href="/Profiles/AliProfile.html"><img src="http://i.imgur.com/oAqIOmv.png"></a></td>		
		</tr>

		<tr>
			<td><a href=""><img src="http://i.imgur.com/8RyvqA9.png"></a></td>
			<td><a href=""><img src="http://i.imgur.com/UfQEgh7.png"></a></td>
			<td><a href=""><img src="http://i.imgur.com/ut0mJGe.png"></a></td>		
		</tr>

	</table>
	<br>
	<a href="#top">[Back to top]</a>
</div>
</a>

<a name="coachingS">
<div id="Body3">
	<h1>Coaching staff</h1>
	<h2>Manager</h2>
	<a href="https://www.facebook.com/Zoheiry7">
		<img src="https://scontent-cdg.xx.fbcdn.net/hphotos-xpf1/v/l/t1.0-9/p720x720/10665716_10154645675920464_7855912875181886530_n.jpg?oh=ad242827ab6cb5b3758d6597c5f160da&oe=555D0593"> 
	<h3>Aly El-Zoheiry</h3>
	</a>
	<br>
	<br>
	<h2>Assistant manager</h2>
	<a href="https://www.facebook.com/adamggg">
		<img src="https://scontent-cdg.xx.fbcdn.net/hphotos-ash2/v/t1.0-9/1044799_10151493295351430_1128405602_n.jpg?oh=e9feb0ff0749f0564300ab9df5fa05d9&oe=5583BE02">
		<h3>Adam Ghanem</h3>
	</a>
	<br>
	<br>
	<a href="#top">[Back to top]</a>
	<br>
	<br>
</div>	
</a>

<a name="clubO">
<div id="Body4">
	<h1>Club owner</h1>
	<a href="#top">[Back to top]</a>
</div>
</a>



</body>
</html>