<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="Profile.css" />

	<title>Player Profile</title>

	<style>
	</style>
</head>

<body>
	<h1>Player Profile</h1>
	<div>
		
		<img class=profileImage src="http://i.imgur.com/AltH0Rk.jpg?1" />
		

		
		<img class=ball src="http://i.imgur.com/4kpoL5l.png?1" />
		

	</div>

	<div id="div1">
		<h2>Nadine Ashraf Mansour #13</h2>
		<ul id="list1">
			<li>Born : 4/7/1994</li>
			<li>Height: 1.71 m</li>
			<li>Current Team: TouchDown</li>
			<li>HomeTown: Egypt</li>
			<li>Position: Running back</li>
		</ul>
		
		<%= link_to "back to home page" , '/homepages/home' %> 
	</div>


</body>
</html>