
#allposts
{
	background-color: #83b5d1;
	font-size: 15px;
	width: 90;
	max-width: 90%;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	border-radius: 10px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

#allposts *
{
	text-align: left;
}

#singlePost
{
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	background-color: #DBDBDB;
	border-radius: 10px;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#attach1
{
	width: 500px;
	height: 300px;
}

#attach1 img
{
	width: 100%;
	height: 100%;
}

#newPost 
{
	background-color: #83b5d1;
	padding-left: 15px;
	max-width: 90%;
	border-radius: 10px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px
}

#CategoriesPs
{
	padding-top: 10px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: #83b5d1;
	font-size: 18px;
	font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
}

#Cats
{
	background-color: #83b5d1;
	border-radius: 10px;
	padding-bottom: 10px;
}

#PinC
{
	max-width: 90%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	background-color: #DBDBDB;

}

#search 
{
	padding-left: 15px;
	background-color: #83b5d1 ;
	width: 90%;
	max-width: 90%;
	border-radius: 10px;
	margin-right: auto;
	margin-left: auto;
}